/* Basic table styles */
#assetDisposalTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

#assetDisposalTable th, #assetDisposalTable td {
    border: 1px solid #413f3f;
    padding: 8px;
    text-align: left;
}

#assetDisposalTable th {
    background-color: #6cc24a;
    color: #171717;
}

#assetDisposalTable tr:nth-child(even) {
    background-color: rgb(212, 225, 250); /* Color for even rows */
}
#assetDisposalTable tr:nth-child(odd) {
    background-color: #eff6ff; /* Color for odd rows */
}

#assetDisposalTable tr:hover {
    background-color: rgb(190, 201, 250);
}

#addAssetButton {
    font-family: "Raleway", sans-serif;
    padding: 10px 15px;
    background-color: #001f6b;
    color: white;
    border: none;
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    display: block; /* Make it a block element */
    margin: 40px auto; /* Centering the button */
    width: fit-content; /* Adjust width based on content */
}

#addAssetButton:hover {
    background-color: rgba(22, 49, 176, 0.95);
}

.authentication{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

#authStatus{
    color: white;
    font-weight: bold;
}

#logoutButton{
    color: white;
}

#logoutButton:hover{
    color: #f09275;
    cursor: pointer;
}