#disposedAssetItemsTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

#disposedAssetItemsTable th, #disposedAssetItemsTable td {
    border: 1px solid #413f3f;
    padding: 8px;
    text-align: left;
}

#disposedAssetItemsTable th {
    background-color: #6cc24a;
    color: #171717;
}

#disposedAssetItemsTable tr:nth-child(even) {
    background-color: rgb(212, 225, 250); /* Color for even rows */
}

#disposedAssetItemsTable tr:nth-child(odd) {
    background-color: #eff6ff; /* Color for odd rows */
}

#disposedAssetItemsTable tr:hover {
    background-color: rgb(190, 201, 250);
}

#backButton button {
    padding: 8px 15px;
    background-color: #1f6e52;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; /* Space above the button */
    border-radius: 4px;
}

#backButton button:hover {
    background-color: #319f75;
}

.filter-section {
    margin: 20px;
    text-align: center;
}

#totalQuantityDisplay {
    margin-top: 20px;
    font-size: 18px;
    color: #333; /* Choose a color that fits your design */
    text-align: center; /* Center the text if desired */
    padding: 10px;
    background-color: #f0f0f0; /* Light background for visibility */
    border-radius: 5px; /* Rounded corners */
    width: fit-content;
    margin: 20px auto; /* Center the div on the page */
}

#printReportButton {
    font-family: "Raleway", sans-serif;
    padding: 15px 20px;
    background-color: #001f6b;
    color: #d5ee69;
    border: none;
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    display: block; /* Make it a block element */
    margin: 40px auto; /* Centering the button */
    width: fit-content; /* Adjust width based on content */
}