/* Basic table styles */
#inventoryTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

#inventoryTable th, #inventoryTable td {
    border: 1px solid #413f3f;
    padding: 8px;
    text-align: left;
}

#inventoryTable th {
    background-color: #c23b3b;
    color: #171717;
}

#inventoryTable tr:nth-child(even) {
    background-color: rgba(241, 208, 208, 0.68); /* Color for even rows */
}
#inventoryTable tr:nth-child(odd) {
    background-color: #e1e1e1; /* Color for odd rows */
}

#inventoryTable tr:hover {
    background-color: rgba(208, 159, 191, 0.63);
}

#addInventoryButton {
    font-family: "Raleway", sans-serif;
    padding: 10px 15px;
    background-color: #6e1f3b;
    color: white;
    border: none;
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    display: block; /* Make it a block element */
    margin: 40px auto; /* Centering the button */
    width: fit-content; /* Adjust width based on content */
}
