/* Basic table styles */
#inventoryTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

#inventoryTable th, #inventoryTable td {
    border: 1px solid #413f3f;
    padding: 8px;
    text-align: left;
}

#inventoryTable th {
    background-color: #6cc24a;
    color: #171717;
}

#inventoryTable tr:nth-child(even) {
    background-color: rgb(212, 225, 250); /* Color for even rows */
}
#inventoryTable tr:nth-child(odd) {
    background-color: #eff6ff; /* Color for odd rows */
}

#inventoryTable tr:hover {
    background-color: rgb(190, 201, 250);
}

#addInventoryButton {
    font-family: "Raleway", sans-serif;
    padding: 10px 15px;
    background-color: #001f6b;
    color: white;
    border: none;
    border-radius: 10px; /* Rounded edges */
    cursor: pointer;
    display: block; /* Make it a block element */
    margin: 40px auto; /* Centering the button */
    width: fit-content; /* Adjust width based on content */
}

#addInventoryButton:hover {
    background-color: rgba(22, 49, 176, 0.95);
}

.filter-section {
    margin: 20px;
    text-align: center;
}

#totalQuantityDisplay {
    margin-top: 20px;
    font-size: 18px;
    color: #333; /* Choose a color that fits your design */
    text-align: center; /* Center the text if desired */
    padding: 10px;
    background-color: #f0f0f0; /* Light background for visibility */
    border-radius: 5px; /* Rounded corners */
    width: fit-content;
    margin: 20px auto; /* Center the div on the page */
}


.authentication{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

#authStatus{
    color: white;
    font-weight: bold;
}

#logoutButton{
    color: white;
}

#logoutButton:hover{
    color: #f09275;
    cursor: pointer;
}