.product_container{
    width: 30vw;
    height: 35vw;
    min-height: 50rem;
    min-width: 50rem;
    padding: 3rem;
    margin: 0 auto;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.products {
    height: 30rem;
    width: 30rem;
    transition: transform .6s;
    border-radius: 25px;
}

.products:hover {
    transform: scale(1.11);
    border: 3px solid rgba(252,151,33,1);
}

.products_box {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(5, 1fr);
    position: center;
}

/* HEADER */
.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kalle_logo{
    margin-top: 5rem;
}

.btnK {
    display: inline-block;
    background-color: #ebf506;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    margin-top: 120px;
    padding: 2.3rem 1.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    align-content: center;
    margin-left: 37.5rem;
}

.btnL {
    display: inline-block;
    background-color: #cc7d7d;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    margin-top: 120px;
    padding: 2.3rem 1.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    align-content: center;
    margin-left: 37.5rem;
}
.section {
    padding: 16rem 3rem;
/border-top: 1px solid #022539;/

transition: transform 1s, opacity 1s;
    overflow-y: scroll;
}

.sectionProducts {
    padding: 12rem 3rem;
/border-top: 1px solid #022539;/
background: linear-gradient(  #022539, #0f3b56,  #46b7a1);

    transition: transform 1s, opacity 1s;
    overflow-y: scroll;
}

.sectionAbout {
    padding: 20rem 3rem;
/border-top: 1px solid #022539;/
background: linear-gradient( #46b7a1, #6e5f98);

    transition: transform 1s, opacity 1s;
    overflow-y: scroll;
}