.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 70vh; /* Full viewport height */
}

.blob_logo {
    max-height: 500px;
    max-width: 450px;
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

.authentication {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

#authStatus {
    color: white;
    font-weight: bold;
}

#logoutButton {
    color: white;
}

#logoutButton:hover {
    color: #f09275;
    cursor: pointer;
}